*{
	padding: 0;
	margin: 0;
}
.nav{
	margin:0;
	z-index: 99;
	width: auto;
}
@media screen and (min-width: 768px) {
	.nav{
		display: none;
	}
}
.nav-height{
	background-color: #222222;
	height: 28px;
	line-height: 28px;
}
.container{
	margin-right: 65px;
	margin-left: 65px;
	padding-left: 11px;
	padding-right: 11px;	
}
.container span a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	vertical-align: top;
}
.container span a:hover{
	cursor: pointer;
}
.nav-right{
	float: right;
}
.nav-right > span{
	padding: 0 12px;
}
.login{
	border-left: 1px solid #949494;
	padding: 0 12px;
}
.arrow-to{
	padding: 0 78px;
	height:160px;
	display: none;
}
.corporate{
	overflow-x: visible;
	border-top: 1px solid transparent;
    height: 160px;
    width: 100%;
    display: inline-block;
}
.content{
	list-style:none;
	padding: 40px 0;
}
.content li{
	display: inline-block;
	width: 25%;
	padding-right: 60px;
	float: left;
}
.content li h3{
	color: #f66f6a;
	font-size: 15px;
}
.content  p{
	margin-top:5px;
	margin-bottom:0;
	color: #282828;
	font-size: 14px;
}
.globle-to{
	padding: 0 70px;
	display:none;
}
.lunguage{
	padding: 40px 0;
    display: inline-block;
}
.lun-first{
	font-size: 14px;
	letter-spacing: 1px;
}
.lun-context a{
	color: #282828;
	text-decoration: underline;
	cursor: pointer;
}
.lun-context a:hover{
	color: #282828;
}
.lun-context li{
	display: inline-block;
	padding-top: 22px;
	width: 18%;
	font-weight:900px;
}
.hw-top{
	position: relative;
}
.hw-top nav{
	height: 74px;
	background:#fff;
	box-shadow: 2px 0px 10px ;
	position: relative;
}
.hw-logo{
	display: inline-block;
	overflow:hidden;
	margin-top:20px;
	margin-right: 60px;
	max-width:133px;
	float: left;
	cursor: pointer;
}
.nav-middle{
	display: inline-block;
	float: left;
}
.mid-context{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: table;
    float: left;
    position: relative;
    height: 74px;
}
.mid-context span{
	font-size: 33px;
	vertical-align: top;
	display: inline-block;
	line-height: 1;
}
.mid-context li{
	display: table-cell;
	padding: 10px 30px 10px 0;
	vertical-align: middle;
}
.nav-middle a{
	display: inline-block;
	vertical-align: top;
	padding-left: 19px;
	text-decoration: none;
	color: #282828;
	font-size: 18px;
}
.nav-middle a:hover{
	cursor: pointer;
	color: #f66f6a;
	text-decoration: none;
}
.border{
	color: #d4d4d4;
	font-size: 32px;
	margin-right:40px;
	vertical-align: top;
}
.hw-hide .second-hide{
	/* position: fixed; */
	overflow: hidden;
	width: 100%;
	left: 0;
	cursor: default;
	background:#f5f5f5;
	display: none;
	margin-top:20px;
	box-shadow: 0 2px 2px 0;
	z-index: 98;
}
.row{
	display: flex;
	margin-right: -11px;
	margin-left:-11px;
}
.row-pic{
	width:25%;
    float:left;
	padding: 40px 15px;
	min-height: 326px;
	position: relative;
}
.img-hide{
	margin-right: 19px;
	border-radius: 5px;
}
.learn-more{
	bottom: 65px;
	padding-left: 20px;
    height: 40px;
    line-height: 40px;
    background: #f66f6a;
    position: absolute;
    right: -10px;
    border-radius: 6px;
}
.learn-more span{
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	vertical-align: middle;
}
.learn-more i{
	color: #fff;
	font-size: 25px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 9px;
    vertical-align: middle;
}
.row-list{
	padding: 40px 15px;
    min-height: 326px;
    width: 58%;
    float: left;
    position: relative;
}
.list-icon{
	padding-top: 40px;
    padding-left: 6%;
    padding-right: 4%;
}
.icon-li{
    padding-bottom: 40px;
    text-align: center;
    position: relative;
}
@media screen and (min-width: 1024px) {
	.icon-li .hi-link{
		cursor: pointer;
	}
}
@media screen and (min-width: 768px) {
	.icon-li{
		width: 33%;
		float: left;
	}
}
  .hi-list{
  	padding: 40px 15px;
    min-height: 326px;
    position: relative;
  }
  @media screen and (min-width: 768px){
  	.hi-list{
  		width:16%;
  		float: left;
  	}
  }
 .card-li{
  	padding-left: 19px;
  }
.card-li h3{
	font-size: 18px;
	font-weight: bold;
}
.card-li ul{
	list-style: none;
	padding: 0;
	margin:0;	
	display: inline-block; 
}
.hi-link{
    margin: 8px 0;
    font-size: 14px;
}
.hi-link:hover{
	text-decoration: underline;
}
.hi-background{
	position: absolute;
    width: 1000px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.hi-background div{
	background: #ebebeb;
    height: 100%;
}
.search{
	display: inline-block;
    font-size: 24px;
    float: right;
    margin-top: 15px;
    margin-right: 0;
    position: relative;
    line-height: 1.625;
}
.nav-hide{
	border-bottom: 1px solid #c7c7c7;
}
.nav-list{
	float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
@media screen and (min-width: 768px) {
	.nav-list{
		width: 50%;
		float: left;
	}
}
.nav-list ul{
	list-style: none;
    padding: 0;
    margin: 0;
}
.active{
	color: #222222;
    text-decoration: none;
    border-bottom: 5px solid #f66f6a;
    margin-left: 0;
}
.nav-list li{
	display: inline-block;
    margin-left: 60px;
}
.nav-list li:hover{
	border-bottom: 5px solid #f66f6a;
}
.nav-list a{
	padding: 20px 0 10px 0;
    color: #777777;
    display: block;
}
.second-content{
	position: relative;
    overflow: hidden;
}
.sec-list{
	padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
@media screen and (min-width: 768px){
	.sec-list{
		width: 75%;
		float: left;
	}
}
.li-se{
	position: relative;
	min-height: 1px;
}
@media screen and (min-width: 768px){
	.li-se{
		width: 25%;
		float: left;
	}
}
.se-li h3{
	font-size: 22px;
	font-weight: bold;
	margin:0 0 12px 0;
}
.se-li .card-li ul{
	list-style: none;
	padding: 0;
	margin:0;
}
.se-link{
	padding: 5px 0;
}
@media screen and (min-width: 1024px) {
	.se-link{
		cursor: pointer;
	}
}
.se-link a{
	font-size: 16px;
	color: #282828;
    padding-left: 0;
    
    vertical-align: middle;
}
.sec-list-2{
	padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
@media screen and (min-width: 768px){
	.sec-list-2{
		width: 25%;
		float: left;
	}
}
.card-se{
	padding-left: 19px;
}
.card-se h3{
	font-size: 22px;
	font-weight: bold;
}
.mi-right{
	display: inline-block;
	position: relative;
	float: left;
}
.mi-right li{
	display: table-cell;
	padding:15px 30px 15px 0;
	vertical-align: middle;
}
.mi-right a{
	display: inline-block;
	vertical-align: middle;
	padding-left: 19px;
	text-decoration: none;
	color: #282828;
	font-size: 18px;
}
.mi-right a:hover{
	cursor: pointer;
	color: #f66f6a;
	text-decoration: none;
}
.mi-right i{
	vertical-align:middle;
	padding-top: 5px;
}

.banner {
    width:100%;
    height:560px;
    margin: auto;
    border:1px solid #808080;
    position:relative;
    overflow:hidden;
}
@media screen and (max-width: 400px) {
	.banner{
		height: 385px;
	}
}
@media screen and (min-width:767 px) {
	.banner{
		height:495px;
	}
}
.banner .img{
    width:300%;
    left: 0;
    position:absolute;
}
.banner .img img{
    width:100%;
    height:100%;
}
.banner .img li{
    float:left;
}
.banner .num {
    position:absolute;
    width:100%;
    bottom:100px;
    text-align: right;   
    font-size:15px;
    padding: 0 60px;
}
.banner .num li {
    width:10px;
    height:10px;
    background-color:#888;
    border-radius:50%;
    display:inline-block;
    margin:0px 3px;
    cursor:pointer;
}
.banner .num li.on {
    background-color: #ff6a00;
}
.banner .btn {
    width: 30px;
    height: 50px;
    background-color: #808080;
    opacity: 0.5;
    filter:alpha(opacity:0.5);
    position:absolute;
    top:50%;
    margin-top:-25px;
    cursor:pointer;
    text-align:center;
    line-height:50px;
    font-size:40px;
    color:#fff;
    font-family:"宋体";
    display:none;
}
.banner .btn_l {
   left:0px;
}
.banner .btn_r {
    right:0px;
}
.banner:hover .btn {
    display:block;
}
.upMove{
	background-color: #fff;
	position: relative;
	width: 100%;	
	padding: 20px 0;
	border-radius: 5px;
	bottom: 100px;
	box-shadow: 0 0 100px #77787b;
	cursor: pointer;
}
.up-row{
	margin-left: -11px;
    margin-right: -11px; 
    display: table;  
}
.up-list{
    border-left: 1px solid #d4d4d4;    
    padding-left: 11px;
    padding-right: 11px; 
    position: relative;   
}
@media screen and (min-width: 768px){
	.up-list{
		float: left;
		width: 33%;
	}
}
.list{
	padding: 10px 40px 0px 30px;
}
.list img{
    float: left;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.list h3{
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: bold;
}
.list i{
	font-size: 20px;
	opacity: 0;
}
.list h3:hover{
    color: #f15b6c;
}
.list p{
    margin-top: 0;
    color: #666;
    font-size: 18px;
}
.product-style{
    margin-bottom:100px;
}
.pro-row{
    margin-left: -11px;
    margin-right: -11px;
}
.pro-list{
    position: relative;
    padding-left: 11px;
    padding-right: 11px;
}
@media screen and (min-width:768px){
	.list2{
		width: 50%;
		float:left;
	}
}
.card{
	padding-top: 100px;
    padding-bottom: 120px;
    height: 450px;
    width: 82%;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px; 
}
.cardText{
	float: right;
    margin-right: 160px;
}
.card-img{
	position: absolute;
    top: 60px;
    right: 0px;
    padding-bottom: 15px;
    width: 264px;
    transition: transform 0.5s;
}
.card-img:hover{
	transform: translateY(-25px);
}
.img-2{
	position: absolute;
	bottom: -40px;
	width: 100%;
	height: 100px;
}
.card-text p{
	color: #fff;
    font-size: 18px
    margin-top:12px;
}
.card-text span{
	font-size: 22px;
	color: #fff;
}
.card-bg{
	background:linear-gradient(#15b0e8, #59c8d5);
	width: 150%;
	height: 450px;
	position: absolute;
	left:-60%;
	top:0;
	z-index: -1;
	border-radius: 5px;
}
@media screen and (min-width:1200px ){
	.list1{
		margin-left: 8%;
		width: 42%;
		float: left; 
	}
}
.card-2{
	background-color: #dde6ed;
	border-radius: 5px;
}
.card-2 img{
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    max-width: 100%;
}
.ca2-text{
	padding: 40px 60px;
}
.text-name{
	font-size: 14px;
	line-height: 22px;
	color: #666666;
}
.text-content{
	height: 234px;
	overflow: hidden;
}
.text-content h3{
	margin-top:20px;
	font-size: 28px;
}
.text-content p{
	font-size: 18px;
    line-height: 30px;
    margin: 12px 0;
}
.read-more{
	font-size: 22px;
	line-height: 34px;
    color: #222222;
    position: absolute;
    bottom: 40px;
}
.read-more i{
	font-size: 18px;
	margin-left:15px;
}
.see-no{
	max-width: 1366px;
	margin-bottom:100px;
	overflow: hidden;
	position: relative;
	height: 558px;
}
.hero-img{
	position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}
@media screen and (max-width: 1260px) and (min-width: 1100px){
    .hero-img {
        transform: translateX(-60%);
    }
}
@media screen and (max-width: 767px){
    .hero-img {
        position: static;
        transform: translateX(0);
    }
}
.hero-img img{
	vertical-align: middle;
	border: 0;
}
.see-card{
	padding-top: 60px;
	position: absolute;
	right: 150px;
	top:0;
	z-index: 98;
}
.see-card img{

    margin-bottom: -90px;
}
.see-more{
	padding-top: 105px;
	padding-bottom: 185px;
	text-align: center;
}
.see-more p{
	font-size: 22px;
	color: #000;
}
.see-more i{
	padding-left: 15px;
	font-size: 22px;
}
.activity{
	padding-bottom: 120px;
}
.title{
	margin-bottom:60px;
}
.title h2{
	float: left;
	margin-bottom: 0;
	width: 65%;
	font-size: 38px;
	line-height: 1;
	margin:0 0 12px 0;
}
.check{
	float: right;
}
.check p{
	color: #222222;
	font-size: 22px;
	vertical-align: middle;
}
.check i{
    font-size: 20px;
    vertical-align: middle;
    line-height: 1;
    padding-left: 15px;
}
.act-block{
    position: relative;
    overflow: hidden;
    margin:0;
    padding: 0;
    cursor: pointer;
}
.act-card{
	background: #dce6ee;
    border-radius: 6px;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 406px;
}
.act-list{
	position: relative;
	padding-right: 40px;
    padding-left: 11px;
}
@media screen and (min-width: 768px) {
	.act-list{
		margin-left:8%;
        width: 42%;
        float: left;
	}
}
.act-title{
	font-size: 14px;
	color: #666666;
	line-height: 22px;
}
.act-content{
	height: 200px;
	overflow: hidden;
}
.act-content h3{
	font-size: 28px;
	font-weight: bold;
	line-height: 38px;
	margin:0;
}
.act-content span{
	font-size: 18px;
	line-height: 30px;
}
.act-content p{
	font-size: 18px;
	line-height:30px;
	margin-top:12px; 
}
.act-more{
	margin-top:40px;
	font-size: 22px;
	line-height: 34px;
}
.act-more i{
	font-size: 20px;
	margin-left: 15px;
}
.act-selist{
	position: relative;
    padding-left: 11px;
    padding-right: 11px;
}
@media screen and (min-width: 768px) {
	.act-selist{
		width: 50%;
		float: left;
	}
}
.act-img{
	position: absolute;
	top:-105px;
	right: 0;
}
.act-img img{
	border-radius: 5px;
}
.story{
	margin-bottom:60px;
}
.sto-row{
	display: flex;
	margin-right: -11px;
	margin-left:-11px;
}
@media screen and (max-width:768px ) {
	.sto-row{
		display: block;
	}
}
.sto-list{
	width: 32%;
	float: left;
	margin-bottom:40px;
	padding: 0 33px;
	display: flex;
}
@media screen and (max-width: 768px) {
	.sto-list{
	margin-bottom: 40px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 0;
    overflow: hidden;
	}
}
@media screen and (max-width: 1024px) {
	.sto-list{
		padding: 0 11px;
	}
}
.sto-card{
	position: relative;
	background:#dde6ed;
	margin-top:90px;
	width: 100%;
	border-radius: 5px;
}
@media screen and (max-width: 767px) {
	.sto-card{
		display: flex;
	}
}
.ca-img{
	margin-top: -90px;
    height: 178px;
    max-width: 100%;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
@media screen and (max-width: 768px) {
	.ca-img{
	margin-top: 0;
    height: 140px;
    border-top-left-radius: 0;
	}
}
.ca-img img{
	position: absolute;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    transition: transform 0.1s;
}
@media screen and (max-width:767px) {
	.ca-img img{
	top: 50%;
    margin-left: 0;
    margin-top: 0;
    max-height: 100%;
	}
}
.ca-img img:hover{
	transform: translateX(-20px);
}
.ca-content{
	padding-bottom: 60px;
	padding: 30px 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media screen and (max-width: 768px) {
	.ca-content{
		padding-bottom:15px;
	}
}
.con-title{
    font-size: 14px;
    color: #666666;
    line-height: 22px;
}
.con-text{
	height: 128px;
	margin-bottom:20px;
}
@media screen and (max-width: 768px) {
	.con-text{
	height: auto;
    max-height: 85px;
    margin-bottom: 0;
	}
}
.con-text h3{
	font-size: 22px;
    line-height: 32px;
    margin-top: 5px;
    font-weight: bold;
}
@media screen and (max-width: 767px){
    .con-text h3 {
    font-size: 18px;
    }
}
.do-more{
	font-size: 22px;
	bottom:30px;
}
.do-more i{
	font-size: 20px;
	margin-left:15px;
}
.news{
	margin-bottom: 100px;
}
.news-title{
	margin-bottom: 60px;
	height: 38px;
}
.news-title h2{
	float: left;
	margin-bottom: 0;
	margin:0 0 12px 0;
	width: 65%;
	font-weight: bold;
	font-size: 38px;
}
.news-list{
	position: relative;
    float: left;
    width: 42%;
    padding-left: 11px;
    padding-right: 11px;
}
.news-card{
	margin-left: 20px;
    margin-right: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.news-img{
	width: 100%;
	height: 220px;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.news-img img{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.news-content{
	height: 276px;
	overflow:hidden;
	padding: 30px 40px;
    background: #dde6ed;
	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.content-ns{
	height: 152px;
	overflow: hidden;
}
.title-ns{
	font-size: 14px;
	line-height: 22px;
	color: #666666;
}
.text-ns h3{
	font-size: 22px;
    line-height: 32px;
    margin-top: 5px;
    font-weight: bold;
}
.more-ns{
	font-size: 22px;
	line-height: 34px;
	position: absolute;
	bottom:30px;
}
.news-list2{
	position: relative;
	margin-left:8%;
	width: 50%;
	float: left;
	padding: 0 11px;
}
.news-list2 ul{
	list-style: none;
	padding-right: 16%;

}
.news-list2 li{
	padding-top: 60px;
}
.news-list2 a{
	color: #282828;
	text-decoration: none;
	font-size: 19px;
	line-height: 30px;
}
.news-list2 a:hover{
	cursor: pointer;
	color: #282828;
}
.footer{
	padding-top: 60px;
	background-color: #f0f0f0;
}
.footer-list{
	width: 25%;
	float: left;
	position: relative;
    padding-left: 11px;
    padding-right: 11px;
}
.about-hw{
	font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #282828;
}
.about-hw a{
	color: #282828;
	text-decoration: none;
}
.about-hw a:hover{
	color: #282828;
	cursor: pointer;
}
.about-hw i{
	font-size: 18px;
	margin-left:5px;
	font-weight: normal;
}
.footer-content{
	list-style: none;
}
.footer-content li{
	margin-bottom:10px;
	font-size: 16px;
}
.footer-content a{
	color: #222222;
	text-decoration: none;
}
.footer-content a:hover{
	color: #222222;
	cursor: pointer;
}
.foo-list{
	width: 16%;
	float: left;
}
.footer-li{
	width: 8%;
	float: left;
}
.footer-li ul{
	list-style:none;
	margin:0;
	padding: 0;
}
.footer-li li{
	margin-bottom: 30px;
	margin-right: 24px;
	padding-bottom: 10px;
    width: 20px;
    height: 18px;
    font-size: 22px;    
}
.footer-li li:hover{
	opacity: 0.5;
}
.others h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom:20px;
}
.oth-list{
	position: relative;
    width: 25%;
    float:left;
    padding-left: 11px;
    padding-right: 11px;
}
.oth-link{
	padding-bottom: 10px;
}
.oth-list a:hover{
	cursor: pointer;
	color: #222222;
}
.oth-list a{
	color: #222222;
	font-size: 16px;
}
.blick{
	background: #222222;
    height: 40px;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    margin-top: 60px;
    overflow: hidden;
}
.bli-list .bli2{
	position: relative;
    padding-left: 11px;
    padding-right: 11px;
}
@media screen and (min-width:768px ){
	.bli-list{
		width:33%; 
		float:left;
	}
}
.bli-list a{
	color: #fff;
}
.bli-list a:hover{
	color:#fff;
	cursor: pointer;
}
@media screen and(min-width: 768px) {
	.bli2{
		width: 66%;
		float: left;
	}
}
.bli2 ul{
	list-style: none;
	float: right;
}
.bli2 li{
	display:inline-block;

}
.bli2 a{
	color: #fff;
	padding: 0 10px;
}
.bli2 a:hover{
	cursor: pointer;
	color: #fff;
}