*{
	padding: 0;
	margin: 0;
}
.nav{
	margin:0;
	z-index: 99;
	width: auto;
}
.nav-height{
	background-color: #222222;
	height: 28px;
	line-height: 28px;
}
.container{
	margin-right: 65px;
	margin-left: 65px;
	padding-left: 11px;
	padding-right: 11px;	
}
.container span a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	vertical-align: top;
}
/*.container span a i{
	font-size: 24px;
	vertical-align: middle;
	height: 23px;
}*/
.nav-right{
	float: right;
}
.nav-right > span{
	padding: 0 12px;
}
.glyphicon glyphicon-globe{
	margin-right:10px; 
}